// Colors Primary

$Very-Dark-Blue: hsl(243, 87%, 12%);
$Desaturated-Blue: hsl(238, 22%, 44%);

// Colors Accent

$Bright-Blue: hsl(224, 93%, 58%);
$Light-Bright-Blue: hsl(221, 100%, 71%);
$Moderat-Cyan: hsl(170, 45%, 43%);
$Waith: hsl(0, 0%, 100%);
// Colors Neutral

$Light-Grayish-Blue: hsl(240, 75%, 98%);
$Ligt-Gray: hsl(0, 0%, 75%);

// Typography Headings, Call-to-actions, Header Navigation

//body 400
$Open-Sans: "Open Sans", sans-serif;

//Headings, Call-to-actions, Header Navigation 400 700
$Raleway: "Raleway", sans-serif;
